<ion-view title="Contacter votre professeur">
  <ion-content overflow-scroll="false" class="myapp-home">
    <div class="hero slide-up">
      <div class="content">
            <figure class="snip1566"><img src="img/prof2.jpg" /></figure>
              <h2>M. BEEN</h2>
              <h3>Votre Professeur d'anglais</h3>

        <div class="padding">
          <button ng-click="sendMail()" href="javascript:;" class="button icon button-calm ink"><i class="icon ion-email"></i> Par mail</button>
        </div>
        <div class="padding">
          <button ng-click="sendCall()" href="javascript:;" class="button icon button-calm ink"><i class="icon ion-iphone"></i> Par téléphone</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>