    <ion-view title="Score" ng-init="setResults()">
        <ion-content overflow-scroll="false" class="myapp-home">
            <div class="hero no-header flat">
                <div class="content">
                    <h1>Votre SCORE!</h1>
                    <h2>le nombre de réponse correcte est de  : {{ vrai }} / {{ vrai + faux}}</h2>
                </div>
            </div>

            <div class="padding">
                <button ui-sref="home" class="button button-large button-calm ink">Nouvelle leçon</button>
            </div>

        </ion-content>
    </ion-view>